<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>商品编辑</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link href="../img/favicon.ico" rel="icon">
    <link href="../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../plugins/adminLTE/css/AdminLTE.css" rel="stylesheet">
    <link href="../plugins/adminLTE/css/skins/_all-skins.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <script src="../plugins/jquery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- 富文本编辑器 -->
    <script charset="utf-8" src="../plugins/umedit/ueditor.config.js"></script>
    <script charset="utf-8" src="../plugins/umedit/ueditor.all.min.js"></script>
    <script charset="utf-8" src="../plugins/umedit/lang/zh-cn/zh-cn.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini">

<div id="app">
    <!-- 正文区域 -->
    <section class="content">
        <div class="box-body">
            <!--tab页-->
            <div class="nav-tabs-custom">
                <!--tab头-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home">商品基本信息</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#pic_upload">商品图片</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#spec">规格</a>
                    </li>
                </ul>
                <!--tab内容-->
                <div class="tab-content">
                    <!--表单内容-->
                    <div class="tab-pane active" id="home">
                        <div class="row data-type">
                            <div class="col-md-2 title">商品分类</div>
                            <div class="col-md-10 data">
                                <table>
                                    <tr>
                                        <td>
                                            <select @change="getCateSelected(1)" class="form-control"
                                                    v-model="cateSelected1">
                                                <option :value="-1">请选择分类</option>
                                                <option :value="category.id" v-for="category in categoryList1">
                                                    {{category.name}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <select @change="getCateSelected(2)" class="form-control"
                                                    v-model="cateSelected2">
                                                <option :value="-1">请选择分类</option>
                                                <option :value="category.id" v-for="category in categoryList2">
                                                    {{category.name}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            <select @change="getCateSelected(3)" class="form-control"
                                                    v-model="cateSelected3">
                                                <option :value="-1">请选择分类</option>
                                                <option :value="category.id" v-for="category in categoryList3">
                                                    {{category.name}}
                                                </option>
                                            </select>
                                        </td>
                                        <td>
                                            模板ID:{{typeId}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-2 title">商品名称</div>
                            <div class="col-md-10 data">
                                <input class="form-control" placeholder="商品名称" type="text" value="">
                            </div>
                            <div class="col-md-2 title">品牌</div>
                            <div class="col-md-10 data">
                                <select class="form-control" v-model="selectBrand">
                                    <option :value="-1">请选择品牌</option>
                                    <option :value="brand.id" v-for="brand in brandList">
                                        {{brand.name}}
                                    </option>
                                </select>
                            </div>


                            <div class="col-md-2 title">副标题</div>
                            <div class="col-md-10 data">
                                <input class="form-control" placeholder="副标题" type="text" value="">
                            </div>

                            <div class="col-md-2 title">价格</div>
                            <div class="col-md-10 data">
                                <div class="input-group">
                                    <span class="input-group-addon">¥</span>
                                    <input class="form-control" placeholder="价格" type="text" value="">
                                </div>
                            </div>

                            <div class="col-md-2 title editer">商品介绍</div>
                            <div class="col-md-10 data editer">
                                <div id="editor" name="article_content" style="width:1337px; height: 320px;"></div>
                            </div>

                            <div class="col-md-2 title rowHeight2x">包装列表</div>
                            <div class="col-md-10 data rowHeight2x">
                                <textarea class="form-control" placeholder="包装列表" rows="4"></textarea>
                            </div>

                            <div class="col-md-2 title rowHeight2x">售后服务</div>
                            <div class="col-md-10 data rowHeight2x">
                                <textarea class="form-control" placeholder="售后服务" rows="4"></textarea>
                            </div>

                        </div>
                    </div>
                    <!--图片上传-->
                    <div class="tab-pane" id="pic_upload">
                        <div class="row data-type">
                            <!-- 颜色图片 -->
                            <div class="btn-group">
                                <button class="btn btn-default" data-target="#uploadModal" data-toggle="modal"
                                        title="新建"
                                        @click="reloadForm()"
                                        type="button"><i class="fa fa-file-o"></i> 新建
                                </button>
                            </div>
                            <table class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                <tr>
                                    <th class="sorting">颜色</th>
                                    <th class="sorting">图片</th>
                                    <th class="sorting">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item,index) in imgList">
                                    <td>{{item.color}}</td>
                                    <td>
                                        <img :src="item.url" alt="" height="100px" width="100px">
                                    </td>
                                    <td>
                                        <button @click="deleteImg(index)" class="btn btn-default" title="删除"
                                                type="button"
                                        ><i
                                                class="fa fa-trash-o"></i> 删除
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--规格-->
                    <div class="tab-pane" id="spec">
                        <div class="row data-type">
                            <div class="col-md-2 title">是否启用规格</div>
                            <div class="col-md-10 data">
                                <input type="checkbox">
                            </div>
                        </div>
                        <p>
                        <div>
                            <div class="row data-type">
                                <div v-for="specItem in currentTemplate.specificationList">
                                    <div class="col-md-2 title">{{specItem.spec.specName}}</div>
                                    <div class="col-md-10 data">
									<span v-for="opt in specItem.specOpts">
										<input @click="updateSpecListStatus($event,specItem.spec.specName,opt)"
                                               type="checkbox">{{opt.optionName}}
									</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row data-type">
                                <table class="table table-bordered table-striped table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <template v-for="spec in specSelList">
                                            <th class="sorting">{{spec.specName}}</th>
                                        </template>
                                        <th class="sorting">价格</th>
                                        <th class="sorting">库存</th>
                                        <th class="sorting">是否启用</th>
                                        <th class="sorting">是否默认</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="row in rowList">

                                        <td v-for="sp in specSelList">
                                            {{row.spec[sp.specName]}}
                                        </td>
                                        <td><input :value="row.price" class="form-control" placeholder="价格"></td>
                                        <td><input :value="row.num" class="form-control" placeholder="库存数量"></td>
                                        <td><input :value="row.status" type="checkbox"></td>
                                        <td><input :value="row.isDefault" type="checkbox"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-toolbar list-toolbar">
            <button class="btn btn-primary">
                <i class="fa fa-save"></i>保存
            </button>
            <button class="btn btn-default">返回列表</button>
        </div>
    </section>
    <!-- 上传窗口 -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="uploadModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
                    <h3 id="myModalLabel">上传商品图片</h3>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td>颜色</td>
                            <td><input class="form-control" placeholder="颜色" v-model="currentImage.color"></td>
                        </tr>
                        <tr>
                            <td>图片</td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <input id="file" type="file"/>
                                            <button @click="uploadImg()" class="btn btn-primary"
                                                    style="margin-top: 10px;" type="button">上传
                                            </button>
                                        </td>
                                        <td>
                                            <img :src="currentImage.url" alt="" height="200px" width="200px"/>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button @click="saveImage()" aria-hidden="true" class="btn btn-success" data-dismiss="modal">保存
                    </button>
                    <button aria-hidden="true" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>


</html>

<script type="text/javascript">
    //初始化富文本编程器
    var ue = UE.getEditor('editor');
    ue.ready(function () {
        UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
        UE.Editor.prototype.getActionUrl = function (action) {
            if (action == 'fdfs/uploadUeImage.do') {
                return "http://localhost:8084/fdfs/uploadUeImage.do";
            } else {
                return this._bkGetActionUrl.call(this, action);
            }
        };
    });
</script>
<script src="../plugins/vue/vuejs-2.5.16.js" type="text/javascript"></script>
<script src="../plugins/vue/axios-0.18.0.js" type="text/javascript"></script>
<script src="../js/goods.js" type="text/javascript"></script>