<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>商家完善资料</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link href="../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../plugins/adminLTE/css/AdminLTE.css" rel="stylesheet">
    <link href="../plugins/adminLTE/css/skins/_all-skins.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <script src="../plugins/jquery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/vue/vuejs-2.5.16.js" type="text/javascript"></script>
    <script src="../plugins/vue/axios-0.18.0.js" type="text/javascript"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini">

<!-- 正文区域 -->
<div id="app">
    <section class="content">
        <div class="box-body">
            <!--tab页-->
            <div class="nav-tabs-custom">
                <!--tab头-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#home">修改密码</a>
                    </li>
                </ul>
                <!--tab内容-->
                <div class="tab-content">
                    <!--表单内容-->
                    <div class="tab-pane active" id="home">
                        <div class="row data-type">
                            <div class="col-md-2 title">原密码</div>
                            <div class="col-md-10 data">
                                <input class="form-control" placeholder="原密码" type="password"
                                       v-model="seller.oldPassword">
                            </div>
                            <div class="col-md-2 title">新密码</div>
                            <div class="col-md-10 data">
                                <input class="form-control" placeholder="新密码" type="password"
                                       v-model="seller.newPassword">
                            </div>
                            <div class="col-md-2 title">确认新密码</div>
                            <div class="col-md-10 data">
                                <input class="form-control" placeholder="确认新密码" type="password"
                                       v-model="seller.confirmPassword">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-toolbar list-toolbar">
            <button @click="change()" class="btn btn-primary"><i class="fa fa-save"></i>保存</button>
        </div>
    </section>
</div>
</body>

</html>
<script>
    new Vue({
        el: '#app',
        data: {
            seller: {
                oldPassword: '',
                newPassword: '',
                confirmPassword: ''
            }
        },
        methods: {
            change: function () {
                let _this = this;
                let seller = this.seller;
                console.log(this.seller)
                if (seller.oldPassword == '' || seller.oldPassword == null) {
                    alert("请输入旧密码")
                    return;
                }
                if (seller.newPassword == '' || seller.newPassword == null) {
                    alert("请输入新密码")
                    return;
                }
                if (seller.confirmPassword == '' || seller.confirmPassword == null) {
                    alert("请输入确认密码")
                    return;
                }
                if (seller.newPassword != seller.confirmPassword) {
                    alert("两次输入密码不一致")
                }
                axios.get("/seller/changePassword/" + _this.seller.oldPassword + "/" + _this.seller.newPassword + ".do").then((res) => {
                    let data = res.data;
                    if (data.success) {
                        alert(data.message);
                    } else {
                        alert(data.message);
                    }
                })
                console.log("修改密码")
            },
        }
    });
</script>
