<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans:beans-->
<!--        xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"-->
<!--        xmlns:beans="http://www.springframework.org/schema/beans"-->
<!--        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--        xmlns="http://www.springframework.org/schema/security"-->
<!--        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--                         http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd-->
<!--						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">-->

<!--    &lt;!&ndash; 配置放行的资源 &ndash;&gt;-->
<!--    <http pattern="/login.html" security="none"/>-->
<!--    <http pattern="/css/**" security="none"/>-->
<!--    <http pattern="/img/**" security="none"/>-->
<!--    <http pattern="/js/**" security="none"/>-->
<!--    <http pattern="/plugins/**" security="none"/>-->


<!--    &lt;!&ndash; use-expressions:设置是否启动SpEL表达式，默认值是true。 &ndash;&gt;-->
<!--    <http use-expressions="false">-->
<!--        &lt;!&ndash;-->
<!--            配置SpringSecurity的拦截路径（拦截规则）-->
<!--            pattern:配置拦截规则。-->
<!--            /* 代表的是根路径下的所有资源（不包含子路径）-->
<!--            /**代表的是根路径下所有的资源（包含子路径）-->
<!--            access:设置角色  角色命名 ROLE_角色名称  如：  ROLE_USER-->
<!--        &ndash;&gt;-->
<!--        <intercept-url pattern="/**" access="ROLE_ADMIN"/>-->

<!--        &lt;!&ndash;-->
<!--        开启表单验证-->
<!--            username-parameter="username"-->
<!--            password-parameter="password"-->
<!--            login-page			:登录页面名称  以  / 开始-->
<!--            default-target-url	:登录成功后跳转的页面-->
<!--            login-processing-url:提交的路径的设置 默认值"/login" 可以修改-->
<!--        &ndash;&gt;-->
<!--        <form-login login-page="/login.html"-->
<!--                    default-target-url="/admin/index.html"-->
<!--                    always-use-default-target="true"-->
<!--                    authentication-failure-url="/login.html"/>-->

<!--        &lt;!&ndash; 不使用csrf的校验 &ndash;&gt;-->
<!--        <csrf disabled="true"/>-->

<!--        &lt;!&ndash; 配置框架页面不拦截 ,-->
<!--        这个配置是设置html页面中可以使用html的iframe标签和frame标签&ndash;&gt;-->
<!--        <headers>-->
<!--            <frame-options policy="SAMEORIGIN"/>-->
<!--        </headers>-->
<!--        &lt;!&ndash; 注销的配置 &ndash;&gt;-->
<!--        <logout logout-url="/logout" logout-success-url="/login.html"/>-->
<!--    </http>-->

<!--    &lt;!&ndash; 配置认证管理器 &ndash;&gt;-->
<!--    <authentication-manager>-->
<!--        &lt;!&ndash; 认证的提供者 &ndash;&gt;-->
<!--        <authentication-provider user-service-ref="detailService">-->
<!--            &lt;!&ndash;            在认证的时候加密功能提供者&ndash;&gt;-->
<!--            <password-encoder ref="passwordEncoder"></password-encoder>-->
<!--        </authentication-provider>-->
<!--    </authentication-manager>-->

<!--    &lt;!&ndash; 给当前服务起个名 &ndash;&gt;-->
<!--    <dubbo:application name="mystore-manager-web"/>-->
<!--    &lt;!&ndash; 配置连接zookeeper地址  &ndash;&gt;-->
<!--    <dubbo:registry address="zookeeper://192.168.162.129:2181"/>-->
<!--    <dubbo:reference id="adminService" interface="com.myjava.core.service.AdminService"></dubbo:reference>-->

<!--    &lt;!&ndash;    自定义实现的获取用户信息的类&ndash;&gt;-->
<!--    <beans:bean name="detailService" class="com.myjava.core.service.AdminDetailServiceImpl">-->
<!--        <beans:property name="service" ref="adminService"></beans:property>-->
<!--    </beans:bean>-->
<!--    &lt;!&ndash;    引入spring自带的加密工具类&ndash;&gt;-->
<!--    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">-->
<!--    </beans:bean>-->
<!--    <beans:bean class="com.myjava.core.controller.AdminController">-->
<!--        <beans:property name="encoder" ref="passwordEncoder"></beans:property>-->
<!--    </beans:bean>-->
<!--</beans:beans>-->